---
title:
description:
---

#bored.step.slide{:data => {:x => -1000, :y => -1500}}
	%q
		Aren't you just
		%b bored
		with all those slides-based presentations?

.step.slide{:data => {:x => "0", :y => -1500}}
	%q
		Don't you think that presentations given
		%strong in modern browsers
		shouldn't
		%strong copy the limits
		of 'classic' slide decks?

.step.slide{:data => {:x => 1000, :y => -1500}}
	%q
		Would you like to
		%strong impress your audience
		with
		%strong stunning visualization
		of your talk?

#title.step{:data => {:x => "0", :y => "0", :scale => 4}}
	%span.try then you should try
	%h1
		impress.js<sup>*</sup>
	%span.footnote
		%sup *
		no rhyme intended

#its.step{:data => {:x => 850, :y => 3000, :rotate => 90, :scale => 5}}
	%p
		It's a
		%strong presentation tool
		%br
		inspired by the idea behind
		= link_to "prezi.com", "http://prezi.com"
		%br
		and based on the
		%strong power of CSS3 transforms and transitions
		in modern browsers.

#big.step{:data => {:x => 3500, :y => 2100, :rotate => 180, :scale => 6}}
	%p
		visualize your
		%b big
		%span.thoughts thoughts

#tiny.step{:data => {:x => 2825, :y => 2325, :z => -3000, :rotate => 300, :scale => 1}}
	%p
		and
		%b tiny
		ideas

#ing.step{:data => {:x => 3500, :y => -850, :rotate => 270, :scale => 6}}
	%p
		by
		%b.positioning positioning
		,
		%b.rotating rotating
		and
		%b.scaling scaling
		them on an infinite canvas

#imagination.step{:data => {:x => 6700, :y => -300, :scale => 6}}
	%p
		the only
		%b limit
		is your
		%b.imagination imagination


#source.step{:data => {:x => 6300, :y => 2000, :rotate => 20, :scale => 4}}
	%p want to know more?
	%q
		= link_to "use the source", "http://github.com/bartaz/impress.js"
		, Luke!

#one-more-thing.step{:data => {:x => 6000, :y => 4000, :scale => 2}}
	%p one more thing...

#its-in-3d.step{:data => {:x => 6200, :y => 4300, :z => -100, :scale => 2, :rotate => {:x => -40, :y => 10}}}
	%p
		%span.have have
		%span.you you
		%span.noticed noticed
		%span.its it's
		%span.in in
		%b
			3D
			%sup *
		?
		%span.footnote * beat that, prezi ;)

#overview.step{:data => {:x => 3000, :y => 1500, :scale => 10}}